#jtron {
    background-image: url("https://play.thomasandfriends.com/en-us/Images/smirk_tcm1399-198223.png");
    background-color: #1a75ff;
    background-position: right;
    background-repeat: no-repeat; 

    /* background-size: ; */
    text-align: center;
    color: aliceblue;
}